<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const boardId = urlParams.get("boardId");
      $(document).ready(function () {
        get_detail();
      });
      function get_detail() {
        console.log("test");
        $.ajax({
          type: "GET",
          url: `/api/board/${boardId}`,
          data: {},
          success: function (response) {
            let boardDetail = response["detail"];
            let template_html = `
                    
                    <div class="field">
                        <label class="label">이름</label>
                            <input id="name" class="input" type="text" placeholder="Text input" value="${boardDetail["name"]}">
                    </div>
                    <div class="field">
                        <label class="label">비밀번호</label>
                        <div class="control">
                            <input id="psd" class="input" type="password" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">제목<label>
                        <div class="control">
                            <input id="title" class="input" type="text" placeholder="Text input" value="${boardDetail["title"]}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">내용</label>
                        <div class="control">
                            <textarea id="comment" class="textarea" placeholder="Textarea">${boardDetail["comment"]}</textarea>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" onclick="amends()">수정</button>
                            <button class="button is-link" onclick="deletes()">삭제</button>
                        </div>
                    </div>        
                       
                    `;
            $(".container").append(template_html);
          },
        });
      }
      function amends() {
        let title = $("#title").val();
        let name = $("#name").val();
        let comment = $("#comment").val();
        let password = $("#psd").val();
        $.ajax({
          type: "POST",
          url: `/api/board/${boardId}`,
          data: {
            title: title,
            name: name,
            comment: comment,
            password: password,
          },
          success: function (response) {
            console.log(response["result"]);
            alert(response["result"]);
            if (response["result"] == "success") {
              window.location.href = "/search";
            }
          },
        });
      }
      function deletes() {
        let title = $("#title").val();
        let name = $("#name").val();
        let comment = $("#comment").val();
        let password = $("#psd").val();
        $.ajax({
          type: "POST",
          url: `/api/board/${boardId}/delete`,
          data: {
            title: title,
            name: name,
            comment: comment,
            password: password,
          },
          success: function (response) {
            console.log(response["result"]);
            alert(response["result"]);
            if (response["result"] == "success") {
              window.location.href = "/search";
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>

          <a class="navbar-item" href="/search"> Search </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item"></div>
        </div>
      </div>
    </nav>
    <section class="hero is-warning">
      <div class="hero-body">
        <p class="title">상세페이지</p>
      </div>
    </section>
    <section class="section">
      <div class="container"></div>
    </section>
  </body>
</html>
